@media (max-width:767px) {

    .top-form {
        position: inherit;
        top: 0;
        z-index: 999;
        background: #00154c;
    }

    .moblie-hide {
        display: none;
    }

    .form-submit {
        display: block;
        justify-content: space-between;
    }

    .form-submit .sub-1,
    .form-submit .sub-2 {
        width: 100%;
    }

    .form-submit .sub-1 button {
        background: #ff1717;
    }

    .form-submit .sub-2 a {
        width: 100%;
        display: inline-block;
        border: 1px solid #ff1717;
        background: #ff1717;
        border-radius: 22px;
        padding: 8px 10px 8px;
        font-size: 22px;
        color: #fff;
        font-weight: 600;
    }

    .form-submit .sub-2 {
        display: none;
    }

    .text-white-1 {
        font-size: 18px;
    }

    .size-18 {
        font-size: 18px;
    }

    .size-14 {
        font-size: 14px;
    }

    .btn-gray {
        font-size: 14px;
        padding: 10px 36px;
    }

    .sergari h2 {
        font-size: 18px;
    }

    .terms h1,
    h1.mb-4 {
        font-size: 18px;
    }

    h1.mb-4.size-18 {
        font-size: 19px;
    }

    h2.size-18 {
        font-size: 19px;
    }

    h5.mb-0 {
        font-size: 16px;
    }

    p.mb-2 {
        font-size: 14px;
    }

    .blue-back {

        height: auto;
    }

    .sergari {
        height: auto;
    }

    .phone-header-mobile {
        display: block;
        bottom: 23px;
        right: 102px;
        width: 30px;
        height: 30px;
        background-color: #ff1717;
        color: #fff;
        border-radius: 100%;
        text-align: center;
        padding: 3px 6px 0;
        z-index: 99;
    }

    .phone-header-mobile i {
        color: #fff;
    }

    .space-1 {
        padding-top: 0;
        padding-bottom: 1rem;
    }

    .bg-light-1 {
        font-size: 15px;
    }

    .treatments-carousel .owl-nav .owl-next {
        right: -15px;
    }

    .treatments-carousel .owl-nav .owl-prev {
        left: -21px;
    }

    .treatments-carousel .owl-nav .owl-next,
    .treatments-carousel .owl-nav .owl-prev {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }

    .thanks-top h1 {
        font-size: 18px;
        margin: 0 0 6px;
    }

    .thanks-top p {
        font-size: 12px;
        margin: 0 0 0;
    }

    .top-head h2 {
        font-size: 16px;
        margin: 0 0 13px;
    }

    .get-touch h2 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 19px;
    }

    .get-touch ul {
        display: block;
    }

    .get-touch ul li {
        width: 100%;
        margin-bottom: 26px;
    }

    .get-touch ul li h3 {
        font-size: 18px;
        margin: 10px 0 7px;
    }

    .get-touch ul li p {
        font-size: 13px;
    }

    .get-touch ul li img {
        height: 32px;
    }

    .get-treatment h2 {
        font-size: 18px;
        margin-bottom: 0;
    }

    .get-treatment p {
        font-size: 13px;
    }

    .banner-treatment .thanks-misson-main {
        display: block;
    }

    .banner-treatment .thanks-misson-main .misson-1 {
        max-width: 100%;
        height: auto;
        background-position: bottom;
        margin-right: 0;
        border-radius: 20px;
        padding: 30px;
        margin-bottom: 20px;
    }

    .banner-treatment .thanks-misson-main .misson-2 {
        max-width: 100%;
        height: auto;
        background-position: bottom;
        margin-right: 0;
        border-radius: 20px;
        padding: 30px;
        margin-bottom: 20px;
    }

    .banner-treatment .thanks-misson-main h2 {
        color: #fff;
        font-size: 18px;
    }

    .banner-treatment .thanks-misson-main p {
        color: #fff;
        font-size: 13px;
        margin-bottom: 0;
    }

    .top-head ul li {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 2%;
    }

    .top-head ul li strong {
        color: #000;
        font-weight: 600;
        font-size: 13px;
        margin: 0 0 24px;
    }

    .top-head ul li p {
        font-size: 12px;
        margin: 0 0 3px;
    }
.navbar-nav .dropdown-menu {
   position: absolute!important;
}
.treattopheder {
    width: 100%;
    float: left;
}
.treattopheder ul li{width:100%;}
.why-chose-head{height:auto;}
.bg-primary-1 {
    height: auto;
    padding: 14px;
}
.testimonial-carousel .owl-item.center .testimonial-text p{font-size:14px;}
.testimonial-carousel .owl-item.center .testimonial-text h5{font-size:18px;}
.testimonial-carousel .owl-item.center .testimonial-text span{font-size:14px;}
.display-3 {
    font-size: 22px;
}




}