@media (max-width:767px) {

    .top-form {
        position: inherit;
        top: 0;
        z-index: 999;
        background: #00154c;
    }

    #appointmentForm .form-control,
    #appointmentForm .form-select {
        background: #fff;
    }

    .moblie-hide {
        display: none;
    }

    .form-submit {
        display: block;
        justify-content: space-between;
    }

    .form-submit .sub-1,
    .form-submit .sub-2 {
        width: 100%;
    }

    .form-submit .sub-1 button {
        background: #ff1717;
    }

    .form-submit .sub-2 a {
        width: 100%;
        display: inline-block;
        border: 1px solid #ff1717;
        background: #ff1717;
        border-radius: 22px;
        padding: 8px 10px 8px;
        font-size: 22px;
        color: #fff;
        font-weight: 600;
    }

    .form-submit .sub-2 {
        display: none;
    }

    .text-white-1 {
        font-size: 18px;
    }

    .size-18 {
        font-size: 18px;
    }

    .size-14 {
        font-size: 14px;
    }

    .btn-gray {
        font-size: 14px;
        padding: 10px 36px;
    }

    .sergari h2 {
        font-size: 18px;
    }

    .terms h1,
    h1.mb-4 {
        font-size: 18px;
    }

    h1.mb-4.size-18 {
        font-size: 19px;
    }

    h2.size-18 {
        font-size: 19px;
    }

    h5.mb-0 {
        font-size: 16px;
    }

    p.mb-2 {
        font-size: 14px;
    }

    .blue-back {

        height: auto;
    }

    .sergari {
        height: auto;
    }

    .phone-header-mobile {
        display: block;
        position: absolute;
        bottom: 23px;
        right: 102px;
        width: 30px;
        height: 30px;
        background-color: #ff1717;
        color: #fff;
        border-radius: 100%;
        text-align: center;
        padding: 3px 6px 0;
        z-index: 99;
    }

    .phone-header-mobile i {
        color: #fff;
    }

    .space-1 {
        padding-top: 0;
        padding-bottom: 1rem;
    }

    .bg-light-1 {
        font-size: 15px;
    }

    .treatments-carousel .owl-nav .owl-next {
        right: -15px;
    }

    .treatments-carousel .owl-nav .owl-prev {
        left: -21px;
    }

    .treatments-carousel .owl-nav .owl-next,
    .treatments-carousel .owl-nav .owl-prev {
        width: 30px;
        height: 30px;
        font-size: 20px;
    }


}